<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <% include ./header %>
    <div class="content">
      <aside>
        <div class="difficulty-title">
          <div>Difficulty:</div>
          <div>
            <a href="/?level=1"><div class="level level1">Level1</div></a>
            <a href="/?level=2"><div class="level level2">Level2</div></a>
            <a href="/?level=3"><div class="level level3">Level3</div></a>
          </div>
        </div>
        <div class="add-kata">
          <a href="/new-kata"><div>add new Kata</div></a>
        </div>
      </aside>
      <section>
        <div><%= problems.length %> Kata Found</div>
        <div>
          <% for (let i = 0; i < problems.length; i++) { %>
            <a href=<%=`/problems/${problems[i]._id}`%>>
              <div class="kata">
                <div class="level level<%= problems[i].difficulty_level %>">Level<%= problems[i].difficulty_level %></div>
                <div><%= problems[i].title %></div>
                <div>
                  <i class="fas fa-user"></i>
                </div>
                <div><%= problems[i].solution_count %></div>
              </div>
            </a>
          <% } %>
        </div>
      </section>
    </div>
  </body>
</html>
